/* regole principali */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}
/* parte header */
.container.header {
    height: 70px;
   
}
header {
    
    background-color: #FF6900;
    color: white;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 100;
    
 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    


}

#logo {
    width: 100px;
    text-align: center;
    padding-top: 8px;
    padding-right: 10px;
}

#category-title {font-size: 10px;
    padding-right: 5px;
    font-weight: 500;

}

.symble.header i {
    padding-right: 10px;
    font-size: 10px;
}

.container.main {
    padding-top: 90px;
}
 /* main part */
.row {
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
    width: 100%;
}


/* parte immagini */

.immagine {
        height: 300px;
        width: 30%;
        background-size: 100% 80%;
        background-repeat: no-repeat;
        position: relative;       
    
}




.prima {
    background-image:url(../img/1.webp);
    position: relative;
    
}

.seconda  {
    background-image:url(../img/2.webp);
    
    
}

.terza  {
    background-image:url(../img/3.webp);
    
    
}

.quarta {
    background-image:url(../img/4.webp);
    
}

.quinta {
    background-image:url(../img/5.webp);
    
}

.sesta {
    background-image:url(../img/6.webp);
    
}

 /* parte sconti */
.label { padding:5px 5px;
   max-height: 30px;
   /* position:absolute;
   bottom: 23%;
   left: 0px; */
   color: white;
   font-weight: 500;
   margin-right: 4px;
   z-index: 10;

    
}

.label-line {
    position:absolute;
   bottom: 23%;
   left: 0px;

}

.red {
    background-color: red;
}

.green {
    background-color: green;
}


.hearts {
    background-color:white ;
    font-size: 20px;
    padding: 4px 6px;
    position:absolute;
   top: 20px;
   right: 0px;
}
 
.description {
    font-size: 10px;
    position: absolute;
    top : 81%;
    left: 0;
}

.price {
    color: red;
    font-weight: bold;
}

/* footer */

footer {
    background-color: black;
    color: white;
    font-size: 10px;
    padding-bottom: 20px;
}

.container.footer {
    display: flex;
    justify-content: space-between;
}

.info-footer h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-footer span {
    font-size: 8px;
    margin-right: 5px;
}

.social h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.loghi-footer i {
    margin-right: 5px;
}


/* Parte hower */

header span:hover  {
    text-decoration: underline;
    cursor: pointer;

}

.symble  i:hover {
    text-decoration: underline;
    cursor: pointer;
}
.row .immagine:hover {
    cursor: pointer;
    height: 300px;
    width: 30%;
    background-size: 100% 80%;
    background-repeat: no-repeat;
    position: relative;

}

.prima:hover {
    background-image: url(../img/1b.webp);
}

.seconda:hover {
    background-image: url(../img/2b.webp);
}
.terza:hover {
    background-image: url(../img/3b.webp);
}
.quarta:hover {
    background-image: url(../img/4b.webp);
}
.quinta:hover {
    background-image: url(../img/5b.webp);
}
.sesta:hover {
    background-image: url(../img/6b.webp);
}

.hearts:hover {
    color: red;
}

.container.footer:hover {
    text-decoration: underline;
    cursor: pointer;
}